@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
    display: flex;
    flex-direction: column;
}

.mainWrapper {
    font-family: "HelveticaNeueCyr-Light";
    min-height: 331px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 28, 28);
    
    @media(--media-max-large) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.colWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @media(--media-max-large) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15vw;
    min-width: 300px;
    padding-bottom: 20px;
}

.body {
    font-size: 16px;
    color: white;
    margin-left: 20%;
    margin-right: 20%;

    @media(--media-max-small) {
    }
}

.subtitle {
    color: white;
    font-size: 20px;
}

.headerTwo {
    color: white;
    font-size: 20px;
}

.email {
    color: white;
    width: auto;

    @nest & tr {
        padding: 5px;
    }

    @nest & tr td {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
        padding-right: 10px;
        padding-left: 10px;
    }
}

.col1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    @media(--media-max-large) {
        padding: 30px 0 30px 0;
        
    }
}

.col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
    color: white;

    @media(--media-max-large) {
        padding: 30px 0 30px 0;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
    }
}

.col3 {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;

    @media(--media-max-large) {
        padding: 30px 0 30px 0;
        align-items: center;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(--media-max-large) {
        align-items: center;
        margin: 0 20vw 0 20vw;
        text-align: center;
    }
}

.submit {
    font-family: 'HelveticaNeueCyr';
    background-color: white;
    border: none;
    height: 25px;
}

.successMessage {
    color: #00cc00;
}
